MYSQL_ROOT_PASSWORD=replace-with-a-strong-root-password
MYSQL_PASSWORD=replace-with-a-strong-app-password
REDIS_PASSWORD=replace-with-a-strong-redis-password
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace-with-a-strong-grafana-password
MOLIAPI_IMAGE=bingchunmoli/moliapi:v3.15.11
MOLI_ENVIRONMENT=docker
MOLI_CONSOLE_LOG_FORMAT=ecs
MOLI_FILE_LOG_FORMAT=ecs
MOLI_YI_YAN_PRELOAD=false
MOLI_SCHEDULING_ENABLED=false
MOLI_TASK_BING_ENABLED=false
MOLI_TASK_WEATHER_NOTIFICATION_ENABLED=false
MOLI_TASK_DAILY_ENABLED=false
MOLI_TASK_IMAGE_ENABLED=false
MOLI_TASK_HOST_ENABLED=false
MOLI_TASK_BILIBILI_ENABLED=false
MOLI_TASK_NETEASE_MUSIC_ENABLED=false
MOLI_TASK_TENCENT_CDN_CERTIFICATE_ENABLED=false
