moli:
  version: @version@
  path: ${user.home}
  init:
    sql-path: classpath:/init/db/init.sql
    yi-yan-json-path: init/data/
  apiConfig:
    weather-key: #开发版和风天气的key(商业版需要更换weatherUri和weatherGeoUri到商业版域名)
    weather-uri: devapi.qweather.com
    weather-geo-uri: geoapi.qweather.com
    server-sauce-key: #server酱通知的key
    pc-path: ${moli.path}img${file.separator}pc #pc随机图的图片路径
    mobile-path: ${moli.path}img${file.separator}mobile #mobile随机图的图片路径
    path1080: ${moli.path}img${file.separator}1080 #1080接口随机图的图片路径
    upload-temp-path:
    upload-temp-secret:
    certificate-path: #证书路径
    privateKey-path: #私钥路径
    domain: #更新的域名
    play-list-id:
    cookies:
server:
  port: 8090
  http2:
    enabled: true
spring:
  task:
    execution:
      pool:
        core-size: 10
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
  datasource:
    driver-class-name: org.h2.Driver
    url: "jdbc:h2:mem:api;MODE=MySQL;DATABASE_TO_LOWER=TRUE;database_to_upper=false;CASE_INSENSITIVE_IDENTIFIERS=true;"
    username: root
    password: root
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connection-test-query: SELECT 1
      pool-name: moliApi
  application:
    name: MoLiApi
  profiles:
    active: default
  data:
    redis:
      database: 1
      connect-timeout: 3000
      timeout: 3000
      password:
      port: 6379
      host: localhost
  mail:
    username: default@example.com
    defaultTo: default@example.com #默认发送通知给那个邮箱
  web:
    resources:
      chain:
        cache: true
        strategy:
          content:
            enabled: true
            paths: /**
      cache:
        cachecontrol:
          max-age: 7d
  flyway:
    enabled: true
    baseline-on-migrate: true
#  sql:
#    init:
#      schema-locations: classpath*:init/db/ddl.sql
#      data-locations: classpath*:init/db/data.sql
#      encoding: utf-8
mybatis-plus:
  configuration:
    cache-enabled: true
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.bingchunmoli.api.**.bean
  global-config:
    banner: off
    db-config:
      id-type: auto
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
logging:
  charset:
    file: utf-8
    console: utf-8
  config: classpath:config/logback-spring.xml
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
loki:
  url: http://localhost:3100/loki/api/v1/push
