<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingchunmoli.api.bing.mapper.BingImageMapper">


    <select id="getIdByCreateDate" resultType="java.lang.Long">
        select id from bing_image where date_format(create_time,'%Y-%m-%d') = #{date}
    </select>
</mapper>