<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingchunmoli.api.daily.mapper.DailyLogMapper">

    <resultMap id="BaseResultMap" type="com.bingchunmoli.api.daily.bean.DailyLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="tenant" column="tenant" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,tenant,
        create_time,type
    </sql>
</mapper>
