<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingchunmoli.api.app.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="com.bingchunmoli.api.app.bean.DeviceVO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="androidId" column="android_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,token,`name`,
        model,android_id
    </sql>
</mapper>
